* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  min-height: 50px;
}

.container {
  background-color: yellow;
  min-height: 50px;
  width: 70%;
  margin: 0 auto;
}

.menu-right {
  background-color: blue;
  min-height: 50px;
}

.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5em;
}

.carousel {
  background-color: chartreuse;
  min-height: 100px;
}

.features {
  background-color: burlywood;
  min-height: 100px;
}

.feature {
  background-color: lightpink;
  flex: 1;
}