* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  color: rebeccapurple;
}

.container {
  margin: 20px auto;
  width: 70%;
}

ol {
  margin-left: 2em;
}

h1, h2, p, ol {
  margin-bottom: 1.5rem;
}

.position {
  background-color: lightsalmon;
  padding: 1.5rem;
  border: 1px solid black;
  margin-bottom: 1.5rem;
}

.static {
  position: static;
}

.relative {
  position: relative;
  top: 50px;
  left: 100px;
}

.absolute {
  position: absolute;
  border-radius: 50%;
  background-color: greenyellow;
  width: 50px;
  height: 50px;
  top: 50px;
}

.centered {
  width: 50%;
  margin: 0 auto 1.5rem;
}

.fixed {
  position: fixed;
  bottom: 0;
}

.sticky {
  position: sticky;
  top: 0;
}