* {
  /* BE VERY CAREFUL */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rebeccapurple;
  background-color: aqua;
  padding: 20px 50px 75px 100px;
  border: 1px solid black;
  margin: 40px;
  width: 500px;
}